*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: 'poppins' , 'sans-serif';
}
body{
    min-height: 100vh;
    background: url('./Images/call.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info{
    
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}
.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;
}
.contact-info,.contact-form{
    flex: 1;
}
.contact-form h2{
    color: #fff;
    text-align: 30px;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-form .text-box{
    background: rgba(0, 0, 0, 0.514);
    color: #fff;
    border: none;
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .text-box::first-child{
    margin-right: 15px;
}

.contact-form textarea{
    background: rgba(0, 0, 0, 0.514);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;

}
.contact-form .send-btn{
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    
}

