*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.pic img
{
    height: 300px;
    width: 100%;
}
.header
{
    height: 70px;
    width: 100%;
    text-transform: uppercase;
}
.header ul
{
    list-style: none;
    display: inline-flex;
    margin: 20px;
    margin-top: 2px;
}
.header a{
    text-decoration: none;
    color: black;
    border:3px solid black;
   display:block;
   border-radius: 10px;
}
.header li
{
    margin: 2px;
    width: 185px;
    border-color: black;
    height: 50px;
    line-height: 8vh;
    border-radius: 15px;
    text-align: center;
    background-color: yellow;

}
.header ul li:hover{
    background-color: green;
}
.heading h1
{
    text-transform: uppercase;
    height: 70px;
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.heading p
{
    text-transform: uppercase;
    font-size: 40px;
}
.heading p a
{
    text-transform: lowercase;
}
.paragragh p
{
    font-size: 35px;
}
.paragragh img
{
    margin-left: 250px;
    height: 500px;
    
}
.paragragh h1
{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}
.footer
{
    background-color: gray;
    text-transform: uppercase;
}
.footer img
{
    float: right;
    margin-top: 2px;
    margin-right: 850px ;
    height: 80px;
    width: 80px;
}
.footer hr
{
    border: 1px solid papayawhip;
}