*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 background-image: url("./Images/Ressort.jpg");
 background-size: auto;
 
}

.container{
    background-color: rgba(0, 0, 0, 0.144);
    height: 600px;
    width: 900px;
}

.box{
    margin: 30px;
    padding-bottom: 200px;
    position: relative;
}

form{
text-align: center;
font-size: 25px;
}

input {
    font-size: 15px;
    font-weight: 200px;
    padding: 5px;
    border: 2px groove black;
    border-radius: 2px solid red;
    text-transform: capitalize;
    background: rgba(41, 103, 219, 0.288);
    color: #ffffff;
}


h1{
    margin: auto;
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 30px;
}

.book-form input[type="submit"]:hover{
    background-color: rgba(79, 187, 76, 0.644);
    font-size: 20px;
    color: red;
    transform: scaleX(1.5);
    
}
.book-form input[type="Reset"]:hover{
    background-color: antiquewhite;
    font-size: 20px;
    color: red;
    transform: scaleX(1.5);
}

select{
    font-size: 20px;
    background-color: rgba(127, 255, 212, 0.116);
}
h2{
    padding: 20px;
}
a{
    font-size: 30px;
   border-radius: 15px;
   border: 2px solid pink;
  color: white;
   margin-top: 45px;
   background-color: rgba(128, 255, 0, 0.205);
}

.container a{
    text-decoration: none;
}





    

    
    



